#main {
background-image:url('./assets/wood-texture.jpg');
background-repeat: true;
background-size: 35em;
}
#mainbodyDom{

}
#topboxDom {
background-color: lightblue;
display: inline;
overflow: auto;
}
#betterName{
display: inline;
}

#logo{
min-height: 5em;
}

#navbarDom {
background-color: blue;
height: 2em ;
}

#navbarDom li{
display: inline;
padding: 20px; 
}

#introDom{
width:100%;
background-color: transparent;
/*object-fit:cover;*/
overflow:hidden;

}

#introImg{
padding:0em;
margin:0em;
object-fit:cover;
height:100%;

}

#cakeImg{
object-fit:cover;
padding:0em;
margin:0em;
}

#cakeIntro{
width:100%; 
overflow:hidden;
}

#cakeNav li{

}
#this{
text-align: center;  
}
#cakesDom {
background-color: white;

}

#cakeBlurb{

outline:1px solid black;
}

#bakedDom {
background-color: tan;  
}

#bakedWrapper{
height: 100%;
}
#breadImg{

}
#pastryImg{

}
#pastryButton{

}

#breadButton{

}


#foodDom {
background-color: red;  
}

#infoDom {
background-color: purple;

}

#infoWrapper{
  display:inline;
}

#map{
  border:1px solid green;
}

#info{
  border:1px solid green;
}



