#main {
background-image:url('./assets/wood-texture.jpg');
background-repeat: true;
background-size: 35em;
}
#mainbodyDom{

}
#topboxDom {
background-color: lightblue;
display: inline;
overflow: auto;
}
#betterName{
display: inline;
}

#logo{
min-height: 5em;
}

#navbarDom {
background-color: blue;
height: 2em ;
}

#navbarDom li{
display: inline;
padding: 20px; 
}

#introDom{
width:100%;
background-color: transparent;
/*object-fit:cover;*/
overflow:hidden;

}

#introImg{
padding:0em;
margin:0em;
object-fit:cover;
height:100%;

}

#cakeImg{
object-fit:cover;
padding:0em;
margin:0em;
}

#cakeIntro{
width:100%; 
overflow:hidden;
background-color:white;
font-family: sans-serif;
font-size: 2em;
}

#cakeIntro p {
padding-bottom: 0em;
margin-bottom: 0em;
}

#cakeNav li{

}
#this{
text-align: center;  
}
#cakesDom {
background-color: white;

}

#cakeBlurb{

}

#bakedIntro{
background-color: white;
width:100%; 
overflow:hidden;
font-family: sans-serif;
font-size: 2em;
}

#bakedImg{
object-fit:cover;
padding:0em;
margin:0em;
}

#bakedDom {
background-color: white;  
}


#breadImg{

}
#pastryImg{

}
#pastryButton{

}

#breadButton{

}

#foodIntro{
width:100%; 
overflow:hidden;
background-color:white;
font-family: sans-serif;
font-size: 2em;
}

#foodDom {
background-color: white;  
}

#infoDom {
background-color: white;

}

#infoWrapper{
  display:inline;
}

#footer{
  background-color: white;
}


