#main {

}

#topboxDom {
background-color: lightblue;  
}
#navbarDom {
background-color:blue;
}

#bakedDom {
background-color: tan;
}

#cakesDom {
background-color: green;
}

#foodDom {
background-color: red;
}

#infoDom {
background-color: purple;
}





